#contact {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  > section {
    background-color: rgb(186, 196, 220);
    width: 100%;
    height: 100%;

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      >div label {
        text-align: center;
        font: 100 1.2rem $text2;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 2rem;
      }

      > button {
        cursor: pointer;
        background-color: rgb(56, 41, 225);
        color: $color4;
        font: 600 1.5rem $text1;
        text-transform: lowercase;
        margin: 3rem;
        &:hover {
          background-color: $color3_1;
        }
      }
    }
  }

  > aside {
    width: 100%;
    height: 100%;
    background-color: $color5;
    display: grid;
    place-items: center;
    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.322)) hue-rotate(150deg);
      animation: upupdowndown 0.7s infinite linear alternate;
    }
  }
}
